body {
    height: 100vh;
    width: 100vw;
    color: white; 
}

.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: space-around;
    justify-content: center;
}

.nav-shop {
    display: flex;
    
}

