body {
    height: 100vh;
    width: 100vw;
    color: white; 
    text-align: center;
    position: relative;
}

#logo {
    display: flex;
    justify-content: left;
    left: 50px;
    position: absolute;
    font-size: 3em;
}

.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 30px;
    height: 10px;
    margin: 10px;
    padding: 10px;
    align-items: center;
}

.spacepls {
    padding: 10px;
}


#shop {
    display: flex;
    justify-content: right;
    right: 120px;
    position: absolute;
    top: 35px;
}

.menu-icon {
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    right: 80px;
    top: 30px;
}


#top {
    display: flex;
    justify-content: left;
    right: 435px;
    position: absolute;
    bottom: 30%;
    top: 10px;
}

.mission {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: left;
	align-items: flex-end;
    align-content: flex-start;
    right: 300px;
    position: absolute;
    bottom: 25%;
}

#button {
    background-color: transparent;
    width: 100px;
    height: 50px;
    color: white;
    border: solid black;
    display: flex;
    position: absolute;
    align-items: right;
    right: 550px;
    bottom: 120px;
    text-align: center;
    padding: 15px;
    border-color: #303436;
}
